<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230959181582-72q97u112s4nioj44jpi1aatjri8gf02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230959181582-72q97u112s4nioj44jpi1aatjri8gf02</string>
	<key>API_KEY</key>
	<string>AIzaSyAU9e84LV2VaYUSBUNh1yd-7oQuEwvQn9w</string>
	<key>GCM_SENDER_ID</key>
	<string>230959181582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.githubClone</string>
	<key>PROJECT_ID</key>
	<string>github-clone-eebd3</string>
	<key>STORAGE_BUCKET</key>
	<string>github-clone-eebd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230959181582:ios:77f5b65b9630dbca98315f</string>
</dict>
</plist>